@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root
{
  --main-color:#FE1A67;
  --text-colorb:black;
  --text-colorw:white;
}


body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

code {
  font-family: 'Roboto Mono', monospace;
  font-size:1.5rem;
  text-align:center;
  background-color:black;
  padding:20px;
  color:white;
}

.main
{
  position:absolute;
  display:flex;
  align-items: center;
  justify-content:center;
  box-sizing: border-box;
  min-width: 100%;
  min-height:100%;
  padding:0 20px;
  margin-bottom:20px;
  background:linear-gradient(to top, rgba(25, 35, 45, 0.2), rgba(0, 0, 0, 0.6));
  object-fit:cover;
  overflow: hidden;
}

.main img
{
  position: absolute;
  z-index:-1;
}

.main #india
{
  background:linear-gradient(to bottom, orange 0%, white 60%, green 100%);
  -webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
}

.highlight
{
  color:var(--main-color);
}

#otherarea
{
  box-sizing: border-box;
  position: absolute;
  width:100%;
  top:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-top:20px;
}

#otherarea .label {
  text-align: center;
  width:70%;
  font-size:1.6rem;
  margin-top:40px;
  padding-bottom:10px;
  border-bottom:1px solid var(--main-color);
  margin-bottom:100px;
}

#otherarea #footer {
  box-sizing: border-box;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
  text-align:center;
  padding:20px;
  font-size:1.2rem;
}

#otherarea #footer span
{
  margin:5px;
  display:flex;
  align-items: center;
  justify-content:center;
}

#otherarea #footer img {
  height:25px;
}

@media screen and (max-width:769px)
{
  #otherarea .label
  {
    font-size:1.4rem;
  }
}