@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');

:root
{
  --main-color:#76D7C4;
  --main-color-dark:#2E4053;
}

html
{
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  background-color:#FDFDFD;
  cursor:default;
}

.main
{
  position:absolute;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
  box-sizing: border-box;
  width: 100%;
  height:100vh;
  padding:0 20px;
  margin-bottom:20px;
  background:url("./wallpaper.jpg");
  background-position: center;
  background-size:cover;
  overflow: hidden;
  transform:translateY(-4rem);
  opacity:0;
  animation:slide-down 0.5s 0.5s cubic-bezier(.08,.5,.66,1) forwards;
}

h1 {
  font-weight:normal;
  opacity:0;
  transform:translateY(-2rem);
  border-radius:10px;
  font-family: 'Roboto Mono', monospace;
  font-size:1.5rem;
  text-align:center;
  background-color:black;
  padding:20px;
  color:white;
  animation:slide-down 0.5s 0.75s cubic-bezier(.08,.5,.66,1) forwards;
}

.tag
{
  color:#85C1E9;
  font-style:italic;
}

.main #india
{
  background:linear-gradient(to bottom, orange 0%, white 60%, green 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main #socialcards
{
  opacity:0;
  transform:translateY(-2rem);
  border-radius:10px;
  background-color:var(--main-color);
  padding:15px 10px;
  width:fit-content;
  display:flex;
  align-items: center;
  justify-content:space-evenly;
  animation:slide-down 0.5s 0.75s cubic-bezier(.08,.5,.66,1) forwards;
}

@keyframes slide-down
{
  100%
  {
    opacity:1;
    transform:translateX(0);
  }
}


.main #socialcards .card-social,#otherarea #connect #connectcard #connectcardholder .card-social
{
  border-radius:50%;
  margin:0 7.5px;
  display:block;
  padding:10px;
  height:40px;
  width:40px;
  background-color:white;
  display:flex;
  align-items: center;
  justify-content:center;
  cursor:pointer;
  -webkit-box-shadow: 0 3px 8px -2px #2E4053;
  -moz-box-shadow: 0 3px 8px -2px #2E4053;
  box-shadow: 0 3px 8px -2px #2E4053;
  transition:0.2s all ease-in-out;
}

.main #socialcards .card-social:hover,#otherarea #connect #connectcard #connectcardholder .card-social:hover
{
  transform:scale(1.2);
}

.main #socialcards .card-social img,#otherarea #connect #connectcard #connectcardholder .card-social img
{
  height:30px;
}

.highlight
{
  color:var(--main-color);
}

#otherarea
{
  box-sizing: border-box;
  position: absolute;
  width:100%;
  top:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-top:20px;
}

#otherarea .label {
  /* text-align: center; */
  width:90%;
  font-size:1.7rem;
  margin:60px 0 20px 0;
  padding-bottom:10px;
  border-bottom:1px solid var(--main-color);
}

#otherarea #about
{
  box-sizing: border-box;
  width:90%;
  background:linear-gradient(rgba(255,255,255,.75), rgba(255,255,255,.75)),url("pattern.png");
  background-size:contain;
}

#otherarea #about #main-content
{
  width:100%;
  display:flex;
  align-items:flex-start;
  justify-content: center;
  height:fit-content;
}

#otherarea #about #main-content .imgholder
{
  margin-right:10px;
  border-radius:10px;
  display:flex;
  align-items: center;
  justify-content:center;
  height:150px;
  width:150px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 8px -2px #2E4053;
  -moz-box-shadow: 0 3px 8px -2px #2E4053;
  box-shadow: 0 3px 8px -2px #2E4053;
}

#otherarea #about #main-content .imgholder img
{
  height:100%;
}


#otherarea #about #main-content .content
{
  background-color:white;
  font-size:1.3rem;
  border-radius:10px;
  text-align:justify;
  display:inline-block;
  box-sizing:border-box;
  padding:20px 25px;
  height:fit-content;
  box-sizing:border-box;
  line-height:2.5rem;
  width:75%;
  -webkit-box-shadow: 0 3px 8px -2px #2E4053;
  -moz-box-shadow: 0 3px 8px -2px #2E4053;
  box-shadow: 0 3px 8px -2px #2E4053;
}

#otherarea #about #mygrid 
{
  text-align:justify;
  margin:auto;
  margin-top:20px;
  width:fit-content;
  display:grid;
  grid-template-columns: 1fr auto;
  grid-column-gap:1rem;
}


#otherarea #about #mygrid #mypic
{
  background-color:white;
  border-radius:10px;
  width:fit-content;
  padding-bottom:20px;
  overflow:hidden;
  font-size:1.3rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  -webkit-box-shadow: 0 3px 8px -2px #2E4053;
  -moz-box-shadow: 0 3px 8px -2px #2E4053;
  box-shadow: 0 3px 8px -2px #2E4053;
}

#otherarea #about #mygrid #mypic img
{
  height:255px;
  margin-bottom:20px;
}

#otherarea #about #mygrid #mymusic
{
  box-sizing: border-box;
  font-size:1.3rem;
  padding:20px;
  border-radius:10px;
  background-color:var(--main-color);
  color:white;
  -webkit-box-shadow: 0 3px 8px -2px #2E4053;
  -moz-box-shadow: 0 3px 8px -2px #2E4053;
  box-shadow: 0 3px 8px -2px #2E4053;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
}

#otherarea #about #mygrid #mymusic #musicgrid
{
  margin-top:25px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap:1rem;
  width:fit-content;
}

#otherarea #about #mygrid #mymusic #musicgrid iframe
{
  border-radius:10px;
  height:12.5rem;
  width:20rem;
}


#otherarea #skills
{
  border-radius:10px;
  background-color:var(--main-color-dark);
  color:white;
  width:90%;
  padding:20px;
  box-sizing: border-box;
  -webkit-box-shadow: 0 3px 8px -2px #2E4053;
  -moz-box-shadow: 0 3px 8px -2px #2E4053;
  box-shadow: 0 3px 8px -2px #2E4053;
}

#otherarea #skills .skill-tag
{
  text-decoration: underline;
  font-size:1.4rem;
  color:var(--main-color);
  margin-bottom:20px;
}

#otherarea #skills .skillitem
{
  width:80%;
  margin:25px auto;
  font-size:1.2rem;
}

#otherarea #skills .skillitem .skillpercentage
{
  margin:10px 0;
  background-color:white;
  width:100%;
  height:10px;
}

#otherarea #skills .skillitem .skillpercentage .percentage
{
  height:10px;
  background-color:var(--main-color);
}

#otherarea #skills .skillitem .percentage-text
{
  color:var(--main-color);
  position: relative;
  float: right;
}

#otherarea #extras
{
  width:90%;
  display:grid;
  grid-template-columns:2fr 1fr;
  grid-gap:1rem 1rem;
}

#otherarea #extras #right
{
  grid-row:1 / 4;
}

#otherarea #extras #right #quotebox
{
  text-align: center;
  box-sizing:border-box;
  padding:20px;
  border-radius:10px; 
  background-color:var(--main-color-dark);
  -webkit-box-shadow: 0 3px 8px -2px #2E4053;
  -moz-box-shadow: 0 3px 8px -2px #2E4053;
  box-shadow: 0 3px 8px -2px #2E4053;
  height:fit-content;
  font-size:1.3rem;
  color:white;
  font-style:italic;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
}

#otherarea #extras #right #quotebox #quoteby
{
  display:block;
  margin-top:10px;
  color:var(--main-color);
}

#otherarea #extras #right #extraslinks
{
  color:black;
  margin-top:1rem;
  box-sizing:border-box;
  padding:20px;
  border-radius:10px; 
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:1rem 1rem;
}

#otherarea #extras #right #extraslinks #titleholder 
{
padding:20px;
text-align:center;
font-size:1.3rem;
display:flex;
align-items:center;
justify-content:center;
background-color:var(--main-color);
color:white;
}

#otherarea #extras #right #extraslinks .linkcard
{
  font-size:1.2rem;
  border-radius:10px; 
  background-color:white;
  border:2px solid var(--main-color);
  color:black;
  padding:20px;
  height:80px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  transition:all 0.2s ease-in-out;
}

#otherarea #extras #right #extraslinks .linkcard:hover
{
  border:2px solid white;
  -webkit-box-shadow: 0 3px 8px -2px #2E4053;
  -moz-box-shadow: 0 3px 8px -2px #2E4053;
  box-shadow: 0 3px 8px -2px #2E4053;
}

#otherarea #extras #right #extraslinks .linkcard img
{
  height:60px;
}

#otherarea #extras #right #extraslinks .linkcard .caption
{
  font-style:italic;
  margin-top:10px;
}

#otherarea #extras #articlebox
{
  grid-row:1 / 3;
  text-align:justify;
  font-size:1.2rem;
  border-radius:10px;
  box-sizing:border-box;
  background-color:#D1F2EB;
  padding:20px;
  -webkit-box-shadow: 0 3px 8px -2px #2E4053;
  -moz-box-shadow: 0 3px 8px -2px #2E4053;
  box-shadow: 0 3px 8px -2px #2E4053;
}

#otherarea #extras #articlebox #articlegrid
{
  margin:20px 0;
  display:grid;
  align-items:center;
  grid-template-columns: 1fr;
  grid-row-gap:1rem;
}

#otherarea #extras #articlebox #articlegrid .article
{
  box-sizing: border-box;
  padding:25px;
  background-color:white;
}

#otherarea #extras #articlebox #articlegrid .article .title
{
  font-size:1.2rem;
  padding-bottom:10px;
  line-height:1.5rem; 
  margin:5px 0;
  border-bottom:1px solid var(--main-color);
  color:var(--main-color);
  overflow: hidden;
}

#otherarea #extras #articlebox #articlegrid .article .articlecontent
{
  font-size:1.1rem;
  width:100%;
  height:8rem; /* set height to line-height * no of lines that you want */
  line-height:2rem;
  overflow:hidden;
}

#otherarea #extras #articlebox #articlegrid .article .link
{
  font-size:1rem;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
  float:right; 
  background-color:white;
  color:var(--main-color);
  padding:5px;
  text-decoration: none;
  transition:all 0.2s ease-in-out;
}

#otherarea #extras #articlebox #articlegrid .article .link::after
{
  display:flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  content:'GO!';
  background-color:var(--main-color);
  color:white;
  height:100%;
  width:0%;
  transition:width 0.1s cubic-bezier(0,0.5,0,1);
  overflow: hidden;
}

#otherarea #extras #articlebox #articlegrid .article .link:hover::after
{
   width:100%;
}


#otherarea #projects
{
  display:grid;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  grid-gap:2rem 2rem;
  width:85%;
}

#otherarea #projects #quote
{
  align-self:end;
  border-radius:10px;
  background-color:var(--main-color-dark);
  color:white;
  font-style:italic;
  box-sizing: border-box;
  padding:20px;
  font-size:1.3rem;
  width:100%;
  display:flex;
  text-align:center;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height:100%;
  -webkit-box-shadow: 0 3px 8px -2px #2E4053;
  -moz-box-shadow: 0 3px 8px -2px #2E4053;
  box-shadow: 0 3px 8px -2px #2E4053;
}

#otherarea #projects #quote #saidby
{
  color:var(--main-color);
  margin-top:10px;
}

#otherarea #projects .projectcard
{
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
  padding:0 20px;
}

#otherarea #projects .projectcard .projectlogo
{
  height:80px;
  padding:10px;
  border-radius:10px;
  position: relative;
  top:50px;
  background-color:white;
  -webkit-box-shadow: 0 3px 8px -2px #2E4053;
  -moz-box-shadow: 0 3px 8px -2px #2E4053;
  box-shadow: 0 3px 8px -2px #2E4053;
}

#otherarea #projects .projectcard .content
{
  border:2px solid var(--main-color);
  border-radius:10px;
  background-color: white;
  padding:20px;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

#otherarea #projects .projectcard .content .projtitle
{
  font-size:1.3rem;
  margin:50px auto 20px auto;
  display:block;
  color:var(--main-color);
  padding-bottom:5px;
  border-bottom:1px solid var(--main-color);
}

#otherarea #projects .projectcard .content .projdesc
{
  text-align:center;
  font-size:1.1rem;
  width:100%;
  line-height:2rem;
}

#otherarea #projects .projectcard .content .projlink
{
  display:block;
  text-align:center;
  color:var(--main-color);
  margin:8px 0;
}

#otherarea #projects .projectcard .content .techused
{
  line-height:2rem;
  font-size:1.1rem;
  margin-top:15px;
  padding:20px;
  width:90%;
  background-color:var(--main-color);
  color:white;
  text-align:center;
}

#otherarea #fav
{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-gap:1rem 1rem;
  width:90%;
}

#otherarea #fav .favsection
{
  border-radius:10px;
  box-sizing: border-box;
  padding:20px;
  background-color:var(--main-color-dark);
  width:100%;
  color:white;
}

#otherarea #fav .colorchange
{
  background-color: white;
  color:var(--main-color-dark);
  border:2px solid var(--main-color);
}

#otherarea #fav .favsection .favtitle
{
  font-size:1.3rem;
  color:var(--main-color);
  padding-bottom:8px;
  border-bottom:1px solid white;
}

#otherarea #fav .favsection .favItem
{
  margin:25px 0;
}

#otherarea #fav .favsection .favItem .itemtitle
{
  display:flex;
  align-items: flex-start;
  font-size:1.2rem;
}

#otherarea #fav .favsection .favItem .itemtitle .itemdesc
{
  margin-top:2.5px;
  display:block;
  font-style:italic;
  font-size:1rem;
}

#otherarea #connect
{
  background:
  linear-gradient(to bottom, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.6) 100%),
  url("https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  box-sizing: border-box;
  margin-top:50px;
  color:white;
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  width:100%;
  padding:20px;
  display:flex;
  flex-direction: column;
}

#otherarea #connect #connecttitle
{
  margin:20px auto 0 20px;
  font-size: 1.6rem;
  font-style:italic;
  padding:15px;
  background-color:var(--main-color);
  color:white;
  width:fit-content;
  -webkit-box-shadow: 0 3px 8px -2px #2E4053;
  -moz-box-shadow: 0 3px 8px -2px #2E4053;
  box-shadow: 0 3px 8px -2px #2E4053;
  transition:0.2s all ease-in-out;
}

#otherarea #connect #connectcard
{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size:1.2rem;
  text-align:center;
  border-radius:10px;
  background-color:white;
  color:black;
  padding:15px;
  -webkit-box-shadow: 0 3px 8px -2px #2E4053;
  -moz-box-shadow: 0 3px 8px -2px #2E4053;
  box-shadow: 0 3px 8px -2px #2E4053;
  margin:25px auto;
  width:50%;
}

#otherarea #connect #connectcard #connectcardholder
{
  display:flex;
  align-items: center;
  justify-content: center;
  padding:5px;
  margin:5px 0;
}

#otherarea #connect #connectcard #email
{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  border-radius:10px;
}

#otherarea #footer {
  box-sizing: border-box;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
  text-align:center;
  padding:20px;
  font-size:1.2rem;
}

#otherarea #footer span
{
  margin:5px;
  display:flex;
  align-items: center;
  justify-content:center;
}

#otherarea #footer img {
  height:25px;
}

#otherarea #footer #footer-down
{
  display:flex;
  flex-direction: row;
  margin-top:10px;
}

#otherarea #footer #copyright
{
  font-size:1rem;
  background-color:var(--main-color);
  border-radius: 10px;
  color:white;
  padding:10px;
}

#otherarea #footer #sourcecode
{
  cursor:pointer;
  font-size:1rem;
  background-color:var(--main-color-dark);
  border-radius: 10px;
  color:white;
  padding:10px;
}

@media screen and (max-width:1300px)
{
  #otherarea #about #mygrid #mymusic #musicgrid iframe
  {
  height:12rem;
  width:17.5rem;
  }

  #otherarea #extras
  {
  grid-template-columns:1fr;
  }

  #otherarea #extras #right
  {
  grid-row: 3 / 4;
  }
}

@media screen and (max-width:1200px)
{
  #otherarea #about #mygrid 
  {
  grid-template-columns:1fr;
  grid-row-gap:1rem;
  width:100%;
  margin:auto;
  margin-top:20px;
  }


  #otherarea #about #mygrid #mypic
  {
  margin:auto;
  width:fit-content;
  font-size:1.1rem;
  }

  #otherarea #about #mygrid #mypic img
  {
  height:300px;
  }

  #otherarea #about #mygrid #mymusic #musicgrid iframe
  {
  height:12.5rem;
  width:18.5rem;
  }

  #otherarea #about #mygrid #mymusic
  {
  margin:auto;
  width:fit-content;
  font-size:1.1rem;
  }
}

@media screen and (max-width:769px)
{
  code,#otherarea .label
  {
    font-size:1.4rem;
  }


  .main #socialcards .card-social,#otherarea #connect #connectcard #connectcardholder .card-social
  {
    margin:0 5px;
    height:32px;
    width:32px;
  }

  .main #socialcards .card-social img,#otherarea #connect #connectcard #connectcardholder .card-social img
  {
    height:28px;
  }


  #otherarea #about #main-content .content,#otherarea #extras #right #quotebox
  {
  font-size:1.2rem;
  }

  #otherarea #about #mygrid #mypic,#otherarea #about #mygrid #mymusic
  {
  width:100%;
  }

  #otherarea #about #mygrid #mypic img
  {
  height:405px;
  margin-bottom:20px;
  }

  #otherarea #about #mygrid #mymusic #musicgrid
  {
  grid-template-columns: 1fr;
  grid-row-gap:1rem;
  }

  #otherarea #about #mygrid #mymusic #musicgrid iframe
  {
  height:15rem;
  width:25rem;
  }

  #otherarea #skills .skill-tag
  {
  font-size:1.3rem;
  }

  #otherarea #skills .skillitem
  {
  width:90%;
  font-size:1.1rem;
  }

  #otherarea #footer #footer-down
  {
    flex-direction: column;
  }

  #otherarea #extras #articlebox #articlegrid .article .link
  {
  border:1px solid var(--main-color);
  background-color:white;
  color:var(--main-color);
  }

  #otherarea #extras #articlebox #articlegrid .article .link::after
  {
  content:'';
  height:0;
  width:0;
  }

  #otherarea #extras #articlebox #articlegrid .article .link:hover::after
  {
  width:0;
  }

  
  #otherarea #extras #articlebox,#otherarea #extras #articlebox #articlegrid .article .articlecontent,#otherarea #extras #right #extraslinks .linkcard
  {
  font-size:1.1rem;
  }

  #otherarea #extras #right #extraslinks #titleholder
  {
  font-size:1.2rem;
  }

  #otherarea #projects
  {
  grid-template-columns: 1fr;
  grid-gap:0.5rem 0.5rem;
  }

  #otherarea #projects #quote
  {
    display:none;
  }

  #otherarea #fav
  {
  grid-template-columns:1fr;
  }

  #otherarea #connect #connecttitle
  {
    font-size:1.5rem;
    margin:auto;
    margin-top:10px;
  }

  #otherarea #connect #connectcard
  {
    font-size:1.1rem;
    width:80%;
  }

  #otherarea #fav .favsection .favtitle
  {
    font-size:1.2rem;
  }
  
  #otherarea #fav .favsection .favItem .itemtitle
  {
   font-size:1.1rem;
  }

  #otherarea #fav .favsection .favItem .itemtitle .itemdesc
  {
   font-size:1rem;
  }

  #otherarea #connect #connectcard
  {
    font-size:1.1rem;
    width:80%;
  }

}

@media screen and (max-width:575px)
{
  h1 {
    font-size:1.3rem;
  }

  #otherarea #about #main-content
  {
    flex-direction: column;
    align-items: center;
  }

  #otherarea #about #main-content .content
  {
    margin-top:20px;
    width:100%;
  }

  #otherarea #footer {
    font-size:1rem;
  }

  #otherarea #footer img {
    height:20px;
  }

  #otherarea #about #mygrid #mymusic #musicgrid iframe
  {
  height:12.5rem;
  width:20rem;
  }
}

@media screen and (max-width:475px)
{
  #otherarea #about #main-content .content,#otherarea #about #mygrid #mypic,#otherarea #about #mygrid #mymusic
  {
  font-size:1.1rem;
  }


  #otherarea #about #mygrid #mypic img
  {
  height:255px;
  }

  #otherarea #about #mygrid #mymusic #musicgrid iframe
  {
  height:9rem;
  width:14.5rem;
  }

  #otherarea #extras #articlebox #articlegrid .article .articlecontent
  {
  font-size:1rem;
  }

  #otherarea #extras #articlebox #articlegrid .article .title
  {
  font-size:1.1rem;
  }

  #otherarea #projects .projectcard .content .projtitle
  {
  font-size:1.2rem;
  }

  #otherarea #projects .projectcard .content .projdesc
  {
  text-align:justify;
  }
  
  #otherarea #connect #connectcard
  {
    font-size:1rem;
    width:100%;
  }

  #otherarea #connect #connectcard #email
  {
    border:none;
    padding:0;
  }
}